.single-container
  .user_header
    %h1
      = link_to image_tag("fmarket_logo_red.svg", size: "185x49", alt: "mercari", class: 'header_icon'), root_path
      %nav.progress
        %ul.progress-bar
          %li.through
            会員情報
            .progress-status#active
            .progress-status_bar#active
          %li.active#red
            電話番号認証
            .progress-status#active
            .progress-status_bar
          %li.address
            お届け先住所入力
            .progress-status
            .progress-status_bar
          %li.payment
            支払い方法
            .progress-status
            .progress-status_bar
          %li.end
            完了
            .progress-status
            .progress-status_bar

  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration
        電話番号認証
      = form_for(@user, url:address_path, method: :get) do |f|
        .l-single-inner.registration-form
          .l-single-content
            = render "devise/shared/error_messages", resource: @user
            .form-group__first
              %label{for: "captcha"} 認証番号
              = f.text_field :phone_authy, placeholder: "認証番号を入力", type: "number", class:"input-default"
            %p.l-single-text SMSで届いた認証番号を入力してください
            = f.submit "認証して完了", class:"btn-default btn-red"
        .l-single-inner.registration-form
          .l-single-content
            %h3.l-chapter-sub-head 30秒たっても認証番号が届かない方へ
            %p.l-single-text 電話で認証番号を聞くこともできます。
            = f.submit "電話番号で認証番号を聞く(通話無料)", class:"btn-default btn-red"
        .l-single-inner.registration-form
          .l-single-content
            %h3.l-chapter-sub-head 認証番号を再送することもできます。もう一度電話番号を入力して下さい。
            %p
              = link_to "電話番号を再度入力する" ,:back , class:"phone-link"
            %p.l-single-text
              ※SMSが届かない場合は、
              = link_to "SMS受信設定", "/jp/help_center/" , class:"phone-link"
              を確認して、もう一度電話番号を入力してください。