.edit_header
  = render "items/mercari_header"
  .sub_header
    %ul.link_others
      .link_top
        - breadcrumb :identify
        = render "layouts/breadcrumbs"
.edit_middle
  .mypage_frame
    = render "mypage_sidebar"
    .identify_box
      %h2.identify_upper
        本人情報の登録
      .identify_bottom
        .before_input
          %span お客さまの本人情報をご登録ください。
          %br 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .right_text
            本人確認書類のアップロードについて＞
        %ul.input_list    
          %li.user_name
            %label お名前
            .name
              = @user.last_name
              = @user.first_name
          %li.name_kana
            %label お名前カナ
            .name_kana
              = @user.last_name_kana
              = @user.first_name_kana
            
          %li.birth_month
            %label 生年月日
            .birthday
              = @user.birthday
          %li.postal_code
            %label 郵便番号
            .zipcode
              = @address.zipcode
          %li.prefecture
            %label 都道府県
            .prefecture
              = @prefecture.name
          %li.sub_prefe
            %label 市区町村
            .city
              = @address.city
          %li.address
            %label 番地
            .block
              = @address.block
          %li.buiding
            %label 建物名
            .building 
            - if @address.building.empty?
              = form_for (@address) do |f|
                = f.text_field :building, placeholder: "例) 柳ビル103", class: "input_text"
            - else
              = @address.building
    
        .profile_btn
          = link_to "#" do
            .change_btn 変更する
          %p.register 本人情報の登録について＞
    = render "items/sell-btn_icon"
.edit_footer
  = render "items/mercari_footer"