.edit_header
  = render "items/mercari_header"
  .sub_header
    %ul.link_others
      .link_top
        - breadcrumb :identify
        = render "layouts/breadcrumbs"
.edit_middle
  .mypage_frame
    = render "mypage_sidebar"
    .identify_box
      %h2.identify_upper
        本人情報の登録
      .identify_bottom
        .before_input
          %span お客さまの本人情報をご登録ください。
          %br 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .right_text
            本人確認書類のアップロードについて＞
        %ul.input_list    
          %li.user_name
            お名前
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true"}
          %li.name_kana
            %p お名前カナ
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true"}
          %li.birth_month
            %p 生年月日
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true"}
          %li.postal_code
            %p 郵便番号
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true",placeholder: "例) 1234567"}
          %li.prefecture
            %p 都道府県
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true"}
          %li.sub_prefe
            %p 市区町村
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true",placeholder: "例) 横浜市緑区"}
          %li.address
            %p 番地
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true",placeholder: "例) 青山1-1-1"}
          %li.buiding
            %p 建物名
            %form.nickname_holder{action: "#",method: "post"}
            %input.input_text{type: "text",name: "nickname1",required: "true",placeholder: "例) 柳ビル103"}


    
        .profile_btn
          = link_to "#" do
            .change_btn 変更する
          %p.register 本人情報の登録について＞
    = render "items/sell-btn_icon"
.edit_footer
  = render "items/mercari_footer"