.wrapper-all
  .header
    = render "items/mercari_header"
    .sub_header
      %ul.link_others
        %li.link_top
          - breadcrumb :exhibiting
          = render "layouts/breadcrumbs"
  .l-container
    = render 'mypage_sidebar'
    .l-content
      %section.mypage-tab-container
        %h2.mypage-tab-head
          出品した商品
        %ul.mypage-tabs 
          %li.mypage-info
            出品中
          %li.mypage-info
            取引中
          %li.mypage-info
            売却済み
        .tab-content
          %ul.mypage-item-tab
            - @my_items.each do |item|
              = render partial: "shared/favorite_item", locals: { item: item }
  .footer
    = render 'items/mercari_footer'