.wrapper-all
  .header
    = render "items/mercari_header"
    .sub_header
      %ul.link_others
        %li.link_top
          - breadcrumb :introduction
          = render "layouts/breadcrumbs"
  .l-container
    = render 'mypage_sidebar'
    = render 'mypage_mainbar'
     
  
  .footer
    = render 'items/mercari_footer'