.edit_header
  = render "items/mercari_header"
  = render "items/sub_header"
.edit_middle
  .mypage_frame
    = render "mypage_sidebar"
    = render "items/sell-btn_icon"
.edit_footer
  = render "items/mercari_footer"