
%logout_header
  = render 'items/mercari_header'
  .sub_header
    %ul.link_others
      %li.link_top
        =link_to "https://www.mercari.com/jp/" do
          メルカリ
      .right_arrow
        = icon('fas fa-chevron-right', class: 'arrow')
      %li.link_mypage
        =link_to "https://www.mercari.com/jp/mypage/" do
          マイページ
      .right_arrow
        = icon('fas fa-chevron-right', class: 'arrow')
      %li.logout_page ログアウト

  -# %main.single-main
  -#   %section.l-single-container
  -#     .l-single-inner.registration-form
  -#       .l-single-content
  -#         .form-group__first
  -#           = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn-default btn-red"
  

      
%logout_middle
  .logout_frame
    .logout_form
      .logout_inner
        .logout_content
          .logout_btn 
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"white"
  
  -# = render 'side_bar'  
%logout_footer
  = render 'items/mercari_footer'