.all
  .header
    .top-menu
      .top-menu__upper
        .left-side
          = link_to root_path do
            = image_tag "fmarket_logo_red.svg", size: "139x37"
        .right-side
          = form_with(url: items_searches_path, local: true, method: :get, class: "search-form") do |f|
            = f.text_field :keyword, placeholder: "何かお探しですか？", class: "search-input"
            = icon('fas', 'search', class: "search-input__icon")
      .top-menu__under
        %ul.top-menu__under__search
          %li.top-menu__under__search__category
            = link_to "/", class:'category-search' do
              = icon('fas', 'list-ul', class: 'category-link')
              カテゴリーから探す
          %li.top-menu__under__search__brand
            = link_to "/", class:'brand-search' do
              = icon('fas', 'tags', class: "brand-link")
              ブランドから探す
        %ul.top-menu__under__user-info
          - if user_signed_in?
            %li.top-menu__under__user-info__menu
              = link_to favorite_users_path, class: 'top-menu__under__user-info__menu__link' do
                = icon('far', 'heart', class: "top-menu__under__user-info__menu__link__icon")
                いいね！一覧
            %li.top-menu__under__user-info__menu
              = link_to users_path, method: :get, class: 'top-menu__under__user-info__menu__link' do
                = icon('far', 'bell', class: "top-menu__under__user-info__menu__link__icon")
                お知らせ
            %li.top-menu__under__user-info__menu
              = link_to "#", class: 'top-menu__under__user-info__menu__link' do
                = icon('fas', 'check', class: "top-menu__under__user-info__menu__link__icon")
                やることリスト
            %li.top-menu__under__user-info__menu
              = link_to users_path, method: :get, class: 'top-menu__under__user-info__menu__link' do
                = icon('fas', 'user-circle', class: "top-menu__under__user-info__menu__link__icon")
                マイページ
          - else
            %li.top-menu__under__user-info__menu
              = link_to "新規会員登録", index_path, class: 'registration-btn'
            %li.user-sessions
              = link_to "ログイン", new_user_session_path, class: 'session-btn'