%footer
  %aside.app-banner
    .app-banner__pc
      .app-banner__pc__inner
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner__pc__inner__icon.clearfix
          .merucari
            = image_tag 'logo_red.svg'
          %ul.icon
            %li
              = link_to image_tag('app-store.svg',alt: "/")
            %li
              = link_to image_tag('google-play.svg',alt: "/")
        %li.figure
          = link_to image_tag('download_app_pc.png',alt: "/")
  .footer
    .footer__upper
      .content1
        %h2.mercari メルカリについて
        %ul.detail1
          %li
            = link_to "#", class: "list1" do
              会社概要（運営会社）
          %li
            = link_to "#", class: "list2" do
              採用情報
          %li
            = link_to "#", class: "list3" do
              プレスリリース
          %li
            = link_to "#", class: "list4" do
              公式ブログ
          %li
            = link_to "#", class: "list5" do
              メルカリロゴ利用ガイドライン
          %ul{class: "sns_icons"}
            %li.list
              = link_to root_path do
                = icon('fab fa-twitter fa-3x',class: 'icon',)
            %li.list
              = link_to root_path do
                = icon('fab fa-facebook-square  fa-3x',class: 'icon')
              
      .content2
        %h2.guide ヘルプ＆ガイド
        %ul.detail2
          %li
            = link_to "#", class: "help_list1" do
              メルカリガイド
          %li
            = link_to "#", class: "help_list2" do
              らくらくメルカリ便
          %li
            = link_to "#", class: "help_list3" do
              ゆうゆうメルカリ便
          %li
            = link_to "#", class: "help_list4" do
              大型メルカリ便
          %li
            = link_to "#", class: "help_list5" do
              車体取引ガイド
          %li
            = link_to "#", class: "help_list6" do
              メルカリあんしん・あんぜん宣言！
          %li
            = link_to "#", class: "help_list7" do
              偽ブランド品撲滅への取り組み
          %li
            = link_to "#", class: "help_list8" do
              メルカリボックス
      .content3
        %h2.rule プライバシーと利用規約
        .detail3
          %ul.box1
            %li
              = link_to "#", class: "rule_list1" do
                プライバシーポリシー
            %li
              = link_to "#", class: "rule_list2" do
                メルカリ利用規約
            %li
              = link_to "#", class: "rule_list3" do
                あんしんスマホサポート制度に関する利用特約
            %li
              = link_to "#", class: "rrule_list4" do
                コンプライアンスポリシー
          %ul.box2
            %li
              = link_to "#", class: "rule_list5" do
                個人データの安全管理に係る基本方針
            %li
              = link_to "#", class: "rule_list6" do
                特定商取引に関する表記
            %li
              = link_to "#", class: "rule_list7" do
                資金決済法に基づく表示
            %li
              = link_to "#", class: "rule_list8" do
                法令遵守と犯罪防止のために
      .content4
        %h2.country 国
        %ul.detail5
        %li
          = link_to "#", class: "japan" do
            日本
        %li
          = link_to "#", class: "us" do
            United States
    .footer__bottom
      .bottom__box
        =link_to root_path, class: "logo" do
          = image_tag "fmarket_logo_white.svg", size: "100x100", alt: "mercari" 
        %span.trademark © Mercari, Inc.
