!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title HTMLメルカリコンテンツ
  %body
    .contents
    .main-contents
      .slide_container
        %ul.slider
          %li
            = image_tag "merry.jpg", size: "1440x400", class:'slide-image'
          %li
            = image_tag "forest.jpg", size: "1440x400", class:'slide-image'
    .popu-bar
      .popu-box
        .category 人気のカテゴリー
        .category-cat-btn
          = link_to "#a", class: "cat-btn" do
            レディース
          = link_to "#b", class: "cat-btn" do
            メンズ
          = link_to "#c", class: "cat-btn" do
            家電・スマホ・カメラ
          = link_to "#d", class: "cat-btn" do
            おもちゃ・ホビー・グッズ
    .popu-contents
      = render 'items/sell-btn_icon'
      .cat-box
        .cat-bar
          %h2.cat-new-item#a
            レディース新着アイテム
          = link_to "#", class: "more-btn" do
            もっと見る
            = icon('fa', 'chevron-right')
        .items-box
          - unless @womens_categories == nil
            - @womens_categories.each do |item|
              = render partial: "item_list", locals: { item: item }
      .cat-box
        .cat-bar
          %h2.cat-new-item#b
            メンズ新着アイテム
          = link_to "#", class: "more-btn" do
            もっと見る
            = icon('fa', 'chevron-right')
        .items-box
          - unless @mens_categories == nil
            - @mens_categories.each do |item|
              = render partial: "item_list", locals: { item: item }

      .cat-box
        .cat-bar
          %h2.cat-new-item#c
            家電・スマホ・カメラ新着アイテム
          = link_to "#", class: "more-btn" do
            もっと見る
            = icon('fa', 'chevron-right')
        .items-box

      .cat-box
        .cat-bar
          %h2.cat-new-item#d
            おもちゃ・ホビー・グッズ新着アイテム
          = link_to "#", class: "more-btn" do
            もっと見る
            = icon('fa', 'chevron-right')
        .items-box

