!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title HTMLメルカリコンテンツ
  %body
    .contents
    .main-contents
      .slide_container
        %ul.slider
          %li
            = image_tag "merry.jpg", size: "1440x400", class:'slide-image'
          %li
            = image_tag "forest.jpg", size: "1440x400", class:'slide-image'
    .popu-bar
      .popu-box
        %h1.category 人気のカテゴリー
        %ul2
          %li2
            %a.cta-btn{:href => "#a"} レディース
          %li2
            %a.cta-btn{:href => "#b"} メンズ
          %li2
            %a.cta-btn{:href => "#c"} 家電・スマホ・カメラ
          %li2
            %a.cta-btn{:href => "#d"} おもちゃ・ホビー・グッズ
    .popu-contents
      = render 'items/sell-btn_icon'
      .cat-box
        .cat-bar
          %h2.cat-new-item
            #a レディース新着アイテム
          %a.more-btn{:href => "#"} もっと見る ＞
        .items-box
          - @items.each do |item|
            = render partial: "item_list", locals: { item: item}
      .cat-box
        .cat-bar
          %h2.cat-new-item
            #b メンズ新着アイテム
          %a.more-btn{:href => "#"} もっと見る ＞
        .items-box
          - @items.each do |item|
            = render partial: "item_list", locals: { item: item}
