.exhibition
  .exhibition__header
    .exhibition__header__content
      .exhibition__header__content__logo
        = link_to "/" do
          = image_tag "fmarket_logo_red.svg", size: "180x40"
  .exhibition__main
    .exhibition__main__form
      .exhibition__main__form__message
        商品の情報を入力
      .exhibition-form
        = form_for @item do |f|
          .exhibition-form__image-box
            .exhibition-form__image-box__upper
              .exhibition-form__image-box__upper__message
                出品画像
              .exhibition-form__image-box__upper__require
                必須
            .exhibition-form__image-box__lower
              最大10枚までアップロードできます
            .exhibition-form__image-box__drop-box
              .drop-box__form
                #image-box
                  #previews
                    - if @item.persisted?
                      - @item.images.each_with_index do |image, i|
                        = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                  = f.fields_for :images do |image|
                    .js-file_group{"data-index" => "#{image.index}"}
                      = image.file_field :src, class: 'js-file'
                      %br/
                      %span.js-remove
                        削除
                    - if @item.persisted?
                      = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                  - if @item.persisted?
                    .js-file_group{"data-index" => "#{@item.images.count}"}
                      = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                      .js-remove
                        削除
          .exhibition-form__name
            .exhibition-form__name__get__upper
              .exhibition-form__name__get__upper__message
                商品名
              .exhibition-form__name__get__upper__require
                必須
            .exhibition-form__name__get__lower
              = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class:'item_name'
            .exhibition-form__name__description
              .exhibition-form__name__description__upper
                .exhibition-form__name__description__upper__message
                  商品の説明
                .exhibition-form__name__description__upper__require
                  必須
              .exhibition-form__name__description__lower
                = f.text_area :text, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class:'item_description'
          .exhibition-form__detail
            .exhibition-form__detail__message
              商品の詳細
            .listing-form__box
              .listing-product-detail__category
                .category__upper
                  = f.label 'カテゴリー', class: 'listing-default__label'
                  .listing-default--require 必須
                .listing-select-wrapper
                  .listing-select-wrapper__box
                    = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                    %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
              .exhibition-form__detail__condition
                .exhibition-form__detail__condition__upper
                  .exhibition-form__detail__condition__upper__message
                    商品の状態
                  .exhibition-form__detail__condition__upper__require
                    必須
                .exhibition-form__detail__condition__lower
                  = f.collection_select :condition_id, Condition.all, :id, :name, {include_blank: "---"}, {class:'exhibition-form__detail__condition__lower__box'}
                  %i.fas.fa-chevron-down.condition__box--arrow-down
          .exhibition-form__deli
            .exhibition-form__deli__message
              配送について
            .exhibition-form__deli__box
              .exhibition-form__deli__box__burden
                .exhibition-form__deli__box__burden__upper
                  .exhibition-form__deli__box__burden__upper__message
                    配送料の負担
                  .exhibition-form__deli__box__burden__upper__require
                    必須
                .exhibition-form__deli__box__burden__lower
                  = f.collection_select :postage_id, Postage.all, :id, :name, {include_blank: "---"}, {class:'exhibition-form__deli__box__burden__lower__box'}
                  %i.fas.fa-chevron-down.postage__box--arrow-down
              .exhibition-form__deli__box__area
                .exhibition-form__deli__box__area__upper
                  .exhibition-form__deli__box__area__upper__message
                    発送元の地域
                  .exhibition-form__deli__box__area__upper__require
                    必須
                .exhibition-form__deli__box__area__lower
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class:'exhibition-form__deli__box__area__lower__box'}
                  %i.fas.fa-chevron-down.shipping_area__box--arrow-down
              .exhibition-form__deli__box__day
                .exhibition-form__deli__box__day__upper
                  .exhibition-form__deli__box__day__upper__message
                    発送までの日数
                  .exhibition-form__deli__box__day__upper__require
                    必須
                .exhibition-form__deli__box__day__lower
                  = f.collection_select :shipping_day_id, ShippingDay.all, :id, :name, {include_blank: "---"}, {class:'exhibition-form__deli__box__day__lower__box'}
                  %i.fas.fa-chevron-down.shipping_day__box--arrow-down
          .exhibition-form__price-info
            .exhibition-form__price-info__message
              販売価格
            .exhibition-form__price-info__box
              .exhibition-form__price-info__box__price
                .exhibition-form__price-info__box__price__left
                  .exhibition-form__price-info__box__price__left__message
                    価格
                  .exhibition-form__price-info__box__price__left__require
                    .exhibition-form__price-info__box__price__left__require__text
                      必須
                .exhibition-form__price-info__box__price__right
                  .exhibition-form__price-info__box__price__right__icon
                    ¥
                  = f.text_field :price, placeholder: "例)  300", class:'exhibition-form__price-info__box__price__right__form'
              .exhibition-form__price-info__box__postage
                .exhibition-form__price-info__box__postage__message
                  販売手数料(10%)
                .exhibition-form__price-info__box__postage__price
                  ー
              .exhibition-form__price-info__box__profit
                .exhibition-form__price-info__box__profit__message
                  販売利益
                .exhibition-form__price-info__box__profit__price
                  ー
          .exhibition-form__btn
            .exhibition-form__btn__info
              %p
                禁止されている出品、行為を必ずご確認ください。
                %br またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であ
                り処罰される可能性があります。
                %br また、出品をもちまして加盟店規約に同意したことになります。
            = f.submit "出品する", class: "exhibition-form__btn__confirm"
            .exhibition-form__btn__back
              もどる
    .exhibition__footer
      %ul.exhibition__footer__nav
        .exhibition__footer__nav__li
          = link_to "プライバシーポリシー", "/", class: 'privacy' 
        .exhibition__footer__nav__li
          = link_to "メルカリ利用規約", "/", class: 'terms'
        .exhibition__footer__nav__li
          = link_to "特定商取引に関する記述", "/", class:'suppliers'
      .exhibition__footer__logo
        = link_to "/" do
          = image_tag "logo_white.svg", size: "50"
