.wrapper
  .header
    = render "mercari_header"

  .item-page 
    .item-page-con 
      .item-details
        .details-box
          .item-name= @item.name
          .details
            .item-imgs
              = image_tag(@images[0].src.to_s, width: '300px', alt: "comming soon", class: "imgs-main")
              - if @item.buyer_id
                .imgs-main__soldout
              .imgs-subs
                .imgs-sub-box
                  - @images.each do |image|
                    = image_tag(image.src.to_s, width: '60px', alt: "comming soon", class: "imgs-sub")
            %table.item-detail-table{:border => 1}
              %tr
                %th 出品者
                %td
                  =link_to @item.seller.nickname, "#", class: "buyer"
                  .buyer-icon
                    .buyer-icon-box
                      %i.fas.fa-laugh
                      = link_to "#" do
                        %span 61
                    .buyer-icon-box
                      %i.fas.fa-meh
                      = link_to "#" do
                        %span 2
                    
                    .buyer-icon-box
                      %i.fas.fa-frown
                      = link_to "#" do
                        %span １
                    
              %tr
                %th カテゴリー
                %td
                  =link_to @item.category.parent.parent.name, "#", class: "item-category-1"
                  =link_to @item.category.parent.name, "#", class: "item-category-2"
                  =link_to @item.category.name, "#", class: "item-category-3"

              %tr
                %th ブランド
                %td 
                  =link_to " Longchamp", "#", class: "brand"
              %tr
                %th 商品のサイズ
                %td L
              %tr
                %th 商品の状態
                %td= @item.condition.name
              %tr
                %th 送料の負担
                %td= @item.postage.name
              %tr
                %th 配送の方法
                %td ゆうゆうメルカリ便
              %tr
                %th 配送元地域
                %td
                  =link_to "#", class: "erea" do
                    = @item.prefecture.name
              %tr
                %th 発想の目安
                %td= @item.shipping_day.name
          .price-box
            .item-price= "¥#{@item.price.to_s(:delimited)}"
            .price-tax （税込）
            .item-shipping-fee 送料込み
          - if @item.buyer_id?
            = link_to "売り切れました", confirmation_items_path, class: "item-buy-btn"
          -else 
            = link_to "購入画面に進む", purchase_index_path(@item), class: "item-buy-btn"
          .shipping-message この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
          .item-discription
            = simple_format(@item.text)
        .btn-bar
          .btn-box
            - if @item.favorited_by?(current_user)
              = link_to item_favorites_path(@item.id), method: :delete, class: "favorite red", remote: false do
                = icon('fas', 'heart')
                いいね！
                = @item.favorites.count
            - else
              = link_to item_favorites_path(@item.id), method: :post, class: "favorite", remote: false do
                = icon('far', 'heart')
                いいね！
                = @item.favorites.count

            %button{class: "favorite", onclick: "location.href='#'"}
              = icon('far', 'flag', class: "fa-lg")
              %span.in-button 不適切な商品の報告
          %button{class: "policy-btn", onclick: "location.href='#'"}
            = icon('fas', 'lock', class: "fa-lg")
            %span.in-button あんしん・あんぜんへの取り組み
  .comment-page
    .comment-page-con
      .comment-box
        %ul.comments
          - if @comments.present?
            - @comments.each do |comment|
              = render partial: "comment", locals: { comment: comment }
        .comment-caution 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        -if current_user && @item.buyer_id == nil
          = form_for [@item, @comment], html: {class: 'comment__form'} do |f|
            = f.text_area :text, placeholder: "コメント本文", rows: "10", class: :comment__form__input
            = f.submit "コメントする", class: :comment__btn, id: :new_comments

      .nav-item 
        - if @item.previous.present?
          = link_to item_path(@item.previous), class: "prev" do
            = icon('fa', 'chevron-left')
            = @item.previous.name
        - if @item.next.present?
          = link_to item_path(@item.next), class: "next" do
            = @item.next.name
            = icon('fa', 'chevron-right')

      .social-media-box 
        .icon-box
          .icon-sns
            = link_to "https://www.facebook.com/login.php?skip_api_login=" do
              .facebook
                %i.fab.fa-facebook-square
          .icon-sns
            = link_to "https://twitter.com/intent/tweet?text=" do
              .twitter
                %i.fab.fa-twitter
          .icon-sns
            = link_to "https://line.me/ja/" do
              .line
                %i.fab.fa-line
          .icon-sns
            = link_to "https://www.pinterest.jp/" do
              .pinterest
                %i.fab.fa-pinterest.fa-xs

      = link_to "#{@item.seller.nickname}さんのその他出品", "#", class: "buyer-items-etc" 
      .buyer-items-etc-box
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
      = link_to "その他出品", "#", class: "item-etc"
      .items-etc-box
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
        .buyer-items-etc-box-item
          = image_tag("香水.jpg", alt: "comming soon", class: "buyer-items-etc-box-item-img")
          .items-box-detaile
            .items-box-name
              クリード CREED アバントゥス オードパルファム 50ml EDP SP fs 
            .items-box-num
              .items-box-price
                ¥29,920 
              .items-box-font
                .icon-like
                  ♡
                %span.like 13
    %nav.lower-bar
      .lower-bar-box
        %ul.lower-bar-box-cons
          %ul.link_others
            %li.link_top
              - breadcrumb :items
              = render "layouts/breadcrumbs"
    
  .footer
    = render "mercari_footer"
